@charset "UTF-8";

/*Declaraçoes gerais */
@media all {
    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    html,
    body {
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 17, 255);
        background-size: contain;
        background-repeat: no-repeat;
    }

    h1 {
        color: white;
        text-shadow: 3px 3px 0px rgba(7, 7, 121, 0.623);
        padding: 10px;
    }


}

/*Declaraçoes retrato */
@media screen and (orientation: portrait) {
    body {
        background: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/*Declaraçoes paisagem */
@media screen and (orientation: landscape) {
    body {
        background: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;

    }
}