@charset "UTF-8";
/*Estilo para Tela */
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: lightblue;
}
header h1{
    text-align: center;
    padding: 10px;
    color: white;
}
header menu {
    background-color: beige;
}
menu li{
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
}
article{
    width: 600px;
    display: block;
    margin: auto;
}