@charset "UTF-8";

.container{
    display: grid;
    height: 800px;
}
.topo{
    grid-area:  1/1/2/4;
    background-color: aqua;
    text-align: center;
}
.menu{
    grid-area: 2/1/3/4;

    text-align: center;
    background-color: blueviolet;
}
.principal{
   grid-area: 3/1/5/3;
    text-align: center;
    background-color: rgb(43, 226, 52); 
}
.secundario {
    grid-area: 3/3/5/4;
    text-align: center;
    background-color: rgb(226, 208, 43);
}
.rodape{
    grid-area: 5/1/6/4;
    background-color: rgb(226, 43, 211);
}