@charset "UTF-8";

/* Typical Device BreakPoints
Pequenas Telas: ATE 600PX
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes Telas: acimda de 1200px
*/

@media screen and (min-width:768px) and (max-width:992px){
    main article {
       min-width: 768px;
       max-width: 992px;
    }
    
}
@media screen and (min-width:992px) and (max-width:1200px){
    main article {
       min-width: 992px;
       max-width: 1200px;
    }
}
@media screen and (min-width:1200px) {
    main article {
       min-width: 1200px;
    }
}