@charset "UTF-8";

/*Todas as demais Midias */

/* Typical Device BreakPoints
Pequenas Telas: ATE 600PX
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes Telas: acimda de 1200px
*/

@media print { /* IMPRESSAO */
 body{
    background: url(../imagens/back-print.jpg); /*Desnecessario pq nao imprime */
    font-family: 'Courier New', Courier, monospace;
 }
 main {
    border: 2px solid black;
 }
 main h1{
    color: black;
    text-shadow: none;
 }
 main::after{
    content: 'SITE FEITO POR RODRIGO';
 }
 img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: block;}
    img#pc{ display: none;}
    img#tv{ display: none;}
}



@media screen and (min-width:768px) and (max-width:992px) { /* TABLET */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{ display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: none;}
}

@media screen and (min-width:992px) and (max-width:1200px) { /* DESKTOP */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#pc{ display: block;}
    img#tv{ display: none;}
}
@media screen and (min-width:1200px){ /* GRANDES TELAS */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: block;}
}
