@charset "UTF-8";

/*Versao Mobile First */

*{
    padding: 0px;
    margin: 0px;
    font-size: 1.3em;
    box-sizing: border-box;
}

html{
    
    height: 100vh;
}
body{
    background: black url(../imagens/back-phone.jpg) no-repeat ;
    background-size: cover;
    background-position: center center;
}
main{
    background-color: rgba(255, 255, 255, 0.438);
    width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}
img{
    display: block;
    margin: auto;
}
img#phone{
    display: block;
}
img#tablet{
    display: none;
}
img#print{
    display: none;
}
img#tv{
    display: none;
}
img#pc{
    display: none;
}