@charset "UTF-8";

.container{
    display: grid;
    grid-template: repeat(3,100px) / repeat(4,1fr);
    gap: 5px;
}
.caixa1{
    background-color: red;
    grid-row:1/2;
    grid-column: 1/5;
}

.caixa2{
    background: green;
    grid-row: 2/4;
    grid-column:1/3;
}
.caixa3{
    background-color: blue;
    grid-area: 2 / 3 / 4 / 5 ; /*SHORTHAND DE GRID ROW E COLUMN */
}