@charset "UTF-8";

.container{
    display: grid;
    grid-template: repeat(3,100px) / repeat(4,1fr);
    gap: 5px;
}
.caixa1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: red;
}

.caixa2{
    background: green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.caixa3{
    background-color: blue;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 3/5 ;
}